@charset "UTF-8";
/*
* scss基础配置文件
*/
@import 'iconfont.css';
:root {
  --theme-bg-color: #3499e5;
  --panel-bg-color: rgb(249, 249, 249);
  --font-color: #333333;
  --font-family: "Microsoft YaHei", "Arial", "黑体", "宋体", sans-serif;
  --border-color: #999999;
  --content-font-size:14px;
  --title-font-size:16px;
  --tip-font-size:12px;
  --panel-width:320px;
  --panel-max-height:520px;
  --shadow-color:rgba(128, 128, 128, 0.5);
}

/*
* scss基础配置文件
*/
:root {
  --theme-bg-color: #3499e5;
  --panel-bg-color: rgb(249, 249, 249);
  --font-color: #333333;
  --font-family: "Microsoft YaHei", "Arial", "黑体", "宋体", sans-serif;
  --border-color: #999999;
  --content-font-size:14px;
  --title-font-size:16px;
  --tip-font-size:12px;
  --panel-width:320px;
  --panel-max-height:520px;
  --shadow-color:rgba(128, 128, 128, 0.5);
}

.SuperMap3D-viewer-bottom {
  display: inline-block;
  right: unset;
}

/* 覆盖第三方库样式 */
.el-slider {
  width: 100%;
}
.el-slider .el-slider__input {
  width: 36%;
}
.el-slider .el-slider__input .el-input--mini .el-input__inner {
  padding-left: 15px;
  padding-right: 15px;
  color: var(--font-color);
  background-color: var(--panel-bg-color);
}
.el-slider .el-input-number--mini .el-input-number__decrease, .el-slider .el-input-number--mini .el-input-number__increase {
  width: 15px;
  background: var(--panel-bg-color);
  color: var(--font-color);
}
.el-slider .el-slider__runway {
  width: 98%;
  margin-top: 0;
  margin-bottom: 0;
}
.el-slider .el-slider__runway .el-slider__button-wrapper {
  height: 25px;
  width: 25px;
  top: -10px;
}
.el-slider .el-slider__runway .el-slider__button-wrapper .el-slider__button {
  display: inline-block;
  width: 12px;
  height: 12px;
}

.el-color-picker--mini {
  width: 48%;
  height: 24px;
}
@media (max-height: 750px) {
  .el-color-picker--mini {
    height: calc(24px * 0.9);
  }
}
@media (max-height: 500px) {
  .el-color-picker--mini {
    height: calc(24px * 0.85);
  }
}
@media (max-height: 400px) {
  .el-color-picker--mini {
    height: calc(24px * 0.8);
  }
}
@media (max-height: 300px) {
  .el-color-picker--mini {
    height: calc(24px * 0.7);
  }
}
@media (max-width: 1000px) {
  .el-color-picker--mini {
    height: calc(24px * 0.9);
  }
}
@media (max-width: 750px) {
  .el-color-picker--mini {
    height: calc(24px * 0.85);
  }
}
@media (max-width: 500px) {
  .el-color-picker--mini {
    height: calc(24px * 0.8);
  }
}
.el-color-picker--mini .el-color-picker__trigger {
  width: 100%;
  height: 100%;
  border: 1px solid var(--border-color);
}
.el-color-picker--mini .el-color-picker__trigger .el-color-picker__color, .el-color-picker--mini .el-color-picker__trigger .is-alpha {
  width: 85%;
  border: 0;
}
.el-color-picker--mini .el-color-picker__trigger .el-color-picker__icon {
  left: 90%;
  color: var(--font-color);
}

.el-color-dropdown {
  width: 220px;
}
@media (max-width: 1000px) {
  .el-color-dropdown {
    width: calc(220px * 0.8);
  }
}
@media (max-width: 750px) {
  .el-color-dropdown {
    width: calc(220px* 0.75);
  }
}
@media (max-width: 500px) {
  .el-color-dropdown {
    width: calc(220px* 0.67);
  }
}
@media (max-height: 750px) {
  .el-color-dropdown {
    width: calc(220px* 0.9);
  }
}
@media (max-height: 500px) {
  .el-color-dropdown {
    width: calc(220px* 0.85);
  }
}
@media (max-height: 400px) {
  .el-color-dropdown {
    width: calc(220px* 0.8);
  }
}
.el-color-dropdown .el-color-svpanel {
  width: 200px;
  height: 150px;
}
@media (max-width: 1000px) {
  .el-color-dropdown .el-color-svpanel {
    width: calc(200px * 0.8);
  }
}
@media (max-width: 750px) {
  .el-color-dropdown .el-color-svpanel {
    width: calc(200px* 0.75);
  }
}
@media (max-width: 500px) {
  .el-color-dropdown .el-color-svpanel {
    width: calc(200px* 0.67);
  }
}
@media (max-height: 750px) {
  .el-color-dropdown .el-color-svpanel {
    width: calc(200px* 0.9);
  }
}
@media (max-height: 500px) {
  .el-color-dropdown .el-color-svpanel {
    width: calc(200px* 0.85);
  }
}
@media (max-height: 400px) {
  .el-color-dropdown .el-color-svpanel {
    width: calc(200px* 0.8);
  }
}
@media (max-height: 750px) {
  .el-color-dropdown .el-color-svpanel {
    height: calc(150px * 0.9);
  }
}
@media (max-height: 500px) {
  .el-color-dropdown .el-color-svpanel {
    height: calc(150px * 0.85);
  }
}
@media (max-height: 400px) {
  .el-color-dropdown .el-color-svpanel {
    height: calc(150px * 0.8);
  }
}
@media (max-height: 300px) {
  .el-color-dropdown .el-color-svpanel {
    height: calc(150px * 0.7);
  }
}
@media (max-width: 1000px) {
  .el-color-dropdown .el-color-svpanel {
    height: calc(150px * 0.9);
  }
}
@media (max-width: 750px) {
  .el-color-dropdown .el-color-svpanel {
    height: calc(150px * 0.85);
  }
}
@media (max-width: 500px) {
  .el-color-dropdown .el-color-svpanel {
    height: calc(150px * 0.8);
  }
}
.el-color-dropdown .el-color-hue-slider.is-vertical {
  height: 150px;
}
@media (max-height: 750px) {
  .el-color-dropdown .el-color-hue-slider.is-vertical {
    height: calc(150px * 0.9);
  }
}
@media (max-height: 500px) {
  .el-color-dropdown .el-color-hue-slider.is-vertical {
    height: calc(150px * 0.85);
  }
}
@media (max-height: 400px) {
  .el-color-dropdown .el-color-hue-slider.is-vertical {
    height: calc(150px * 0.8);
  }
}
@media (max-height: 300px) {
  .el-color-dropdown .el-color-hue-slider.is-vertical {
    height: calc(150px * 0.7);
  }
}
@media (max-width: 1000px) {
  .el-color-dropdown .el-color-hue-slider.is-vertical {
    height: calc(150px * 0.9);
  }
}
@media (max-width: 750px) {
  .el-color-dropdown .el-color-hue-slider.is-vertical {
    height: calc(150px * 0.85);
  }
}
@media (max-width: 500px) {
  .el-color-dropdown .el-color-hue-slider.is-vertical {
    height: calc(150px * 0.8);
  }
}
.el-color-dropdown .el-color-alpha-slider {
  width: 220px;
}
@media (max-width: 1000px) {
  .el-color-dropdown .el-color-alpha-slider {
    width: calc(220px * 0.8);
  }
}
@media (max-width: 750px) {
  .el-color-dropdown .el-color-alpha-slider {
    width: calc(220px* 0.75);
  }
}
@media (max-width: 500px) {
  .el-color-dropdown .el-color-alpha-slider {
    width: calc(220px* 0.67);
  }
}
@media (max-height: 750px) {
  .el-color-dropdown .el-color-alpha-slider {
    width: calc(220px* 0.9);
  }
}
@media (max-height: 500px) {
  .el-color-dropdown .el-color-alpha-slider {
    width: calc(220px* 0.85);
  }
}
@media (max-height: 400px) {
  .el-color-dropdown .el-color-alpha-slider {
    width: calc(220px* 0.8);
  }
}
.el-color-dropdown .el-color-dropdown__value {
  width: 120px;
}
@media (max-width: 1000px) {
  .el-color-dropdown .el-color-dropdown__value {
    width: calc(120px * 0.8);
  }
}
@media (max-width: 750px) {
  .el-color-dropdown .el-color-dropdown__value {
    width: calc(120px* 0.75);
  }
}
@media (max-width: 500px) {
  .el-color-dropdown .el-color-dropdown__value {
    width: calc(120px* 0.67);
  }
}
@media (max-height: 750px) {
  .el-color-dropdown .el-color-dropdown__value {
    width: calc(120px* 0.9);
  }
}
@media (max-height: 500px) {
  .el-color-dropdown .el-color-dropdown__value {
    width: calc(120px* 0.85);
  }
}
@media (max-height: 400px) {
  .el-color-dropdown .el-color-dropdown__value {
    width: calc(120px* 0.8);
  }
}
.el-color-dropdown .el-color-dropdown__value .el-input__inner {
  padding: 0;
}
.el-color-dropdown .el-button--mini {
  padding: 7px 8px 7px 8px;
  margin: 0;
}
@media (max-height: 750px) {
  .el-color-dropdown .el-button--mini {
    padding-top: calc(7px * 0.8);
    padding-right: calc(8px * 0.8);
    padding-bottom: calc(7px * 0.8);
    padding-left: calc(8px * 0.8);
  }
}
@media (max-height: 500px) {
  .el-color-dropdown .el-button--mini {
    padding-top: calc(7px * 0.6);
    padding-right: calc(8px * 0.6);
    padding-bottom: calc(7px * 0.6);
    padding-left: calc(8px * 0.6);
  }
}
@media (max-height: 400px) {
  .el-color-dropdown .el-button--mini {
    padding-top: calc(7px * 0.4);
    padding-right: calc(8px * 0.4);
    padding-bottom: calc(7px * 0.4);
    padding-left: calc(8px * 0.4);
  }
}
@media (max-height: 300px) {
  .el-color-dropdown .el-button--mini {
    padding-top: calc(7px * 0.2);
    padding-right: calc(8px * 0.2);
    padding-bottom: calc(7px * 0.2);
    padding-left: calc(8px * 0.2);
  }
}
@media (max-width: 1000px) {
  .el-color-dropdown .el-button--mini {
    padding-top: calc(7px * 0.8);
    padding-right: calc(8px * 0.8);
    padding-bottom: calc(7px * 0.8);
    padding-left: calc(8px * 0.8);
  }
}
@media (max-width: 750px) {
  .el-color-dropdown .el-button--mini {
    padding-top: calc(7px * 0.6);
    padding-right: calc(8px * 0.6);
    padding-bottom: calc(7px * 0.6);
    padding-left: calc(8px * 0.6);
  }
}
@media (max-width: 500px) {
  .el-color-dropdown .el-button--mini {
    padding-top: calc(7px * 0.4);
    padding-right: calc(8px * 0.4);
    padding-bottom: calc(7px * 0.4);
    padding-left: calc(8px * 0.4);
  }
}

#shadowquery-panel .el-slider__runway {
  height: 2px;
  background-color: var(--border-color);
}
#shadowquery-panel .el-slider__runway .el-slider__bar {
  height: 3px;
}
#shadowquery-panel .el-slider__runway .el-slider__button-wrapper {
  top: -11px;
}
#shadowquery-panel .el-slider__stop {
  background-color: var(--border-color);
  top: 6px;
  position: absolute;
  width: 2px;
  height: 5px;
  border-radius: 0;
}
#shadowquery-panel .el-slider__stop:nth-child(3n+1) {
  height: 8px;
}

.tooltip-class {
  background: var(--panel-bg-color) !important;
  color: var(--font-color) !important;
  border: 1px solid var(--border-color) !important;
}

.el-popper.is-dark .el-popper__arrow {
  width: 9px;
  height: 9px;
}
.el-popper.is-dark .el-popper__arrow::before {
  background-color: var(--panel-bg-color) !important;
  border: 1px solid var(--border-color) !important;
  border-left: none !important;
  border-top: none !important;
}

.el-date-editor.el-input, .el-date-editor.el-input__inner {
  width: 100%;
}
.el-date-editor.el-input .el-input__prefix, .el-date-editor.el-input__inner .el-input__prefix {
  right: 5px;
  left: auto;
}

.el-date-picker {
  line-height: 0;
  width: auto;
}
.el-date-picker .el-date-picker__header {
  margin: 4px 0;
}
.el-date-picker .el-date-picker__header .el-picker-panel__icon-btn {
  margin-top: 4px;
}
.el-date-picker .el-picker-panel__content {
  width: 220px !important;
  margin: 10px 13px;
}
.el-date-picker .el-picker-panel__content .el-date-table td {
  height: 24px;
  padding: 2px 0;
}
.el-date-picker .el-picker-panel__content .el-date-table td div {
  height: 22px;
}
.el-date-picker .el-picker-panel__content .el-date-table th {
  padding: 8px 2px;
}

.el-input--small .el-input__inner {
  text-align: center;
}

.SuperMap3D-performanceDisplay-defaultContainer {
  top: 10px;
  right: 10px;
}

.el-tree {
  background-color: transparent;
}
.el-tree .el-tree-node__content > .el-tree-node__expand-icon {
  margin-left: -3px;
  padding: 0;
  padding-right: 6px;
  font-size: 18px;
  color: #606266;
}
.el-tree .el-tree-node__expand-icon.is-leaf {
  color: transparent !important;
}
.el-tree .el-tree__empty-block {
  min-height: auto;
}
.el-tree .el-tree__empty-block .el-tree__empty-text {
  position: static;
}

.el-checkbox, .el-checkbox__input {
  position: static;
}

.el-checkbox {
  width: auto;
}

/*
* scss基础配置文件
*/
:root {
  --theme-bg-color: #3499e5;
  --panel-bg-color: rgb(249, 249, 249);
  --font-color: #333333;
  --font-family: "Microsoft YaHei", "Arial", "黑体", "宋体", sans-serif;
  --border-color: #999999;
  --content-font-size:14px;
  --title-font-size:16px;
  --tip-font-size:12px;
  --panel-width:320px;
  --panel-max-height:520px;
  --shadow-color:rgba(128, 128, 128, 0.5);
}

/*
* 组件工具样式库
*/
.drawCur {
  cursor: url(./images/cur/draw.cur), auto;
}

.measureCur {
  cursor: url(./images/cur/measure.cur), auto;
}

/*--------tooltip----------------*/
.twipsy {
  display: block;
  position: absolute;
  visibility: visible;
  max-width: 300px;
  min-width: 100px;
  padding: 5px;
  font-size: 11px;
  z-index: 1000;
  opacity: 0.8;
  -khtml-opacity: 0.8;
  -moz-opacity: 0.8;
  filter: alpha(opacity=80);
}

.twipsy.left .twipsy-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #000000;
}

.twipsy.right .twipsy-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #000000;
}

.twipsy-inner {
  padding: 3px 8px;
  background-color: #000000;
  color: white;
  text-align: center;
  max-width: 300px;
  text-decoration: none;
  border-radius: 4px;
}

.twipsy-arrow {
  position: absolute;
  width: 0;
  height: 0;
}

/*--------tooltip end------------*/
/*--------地形裁剪补充 str-----------*/
.color-select {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  justify-content: center;
  width: 48%;
  background-color: var(--panel-bg-color);
  right: 0;
  top: 24px;
  z-index: 1000;
  border: 1px solid var(--border-color);
  box-sizing: border-box;
}

.ban {
  width: 100%;
  height: 24px;
}
@media (max-height: 750px) {
  .ban {
    height: calc(24px * 0.9);
  }
}
@media (max-height: 500px) {
  .ban {
    height: calc(24px * 0.85);
  }
}
@media (max-height: 400px) {
  .ban {
    height: calc(24px * 0.8);
  }
}
@media (max-height: 300px) {
  .ban {
    height: calc(24px * 0.7);
  }
}
@media (max-width: 1000px) {
  .ban {
    height: calc(24px * 0.9);
  }
}
@media (max-width: 750px) {
  .ban {
    height: calc(24px * 0.85);
  }
}
@media (max-width: 500px) {
  .ban {
    height: calc(24px * 0.8);
  }
}

.ban:hover {
  border: 1px solid var(--theme-bg-color);
}

.band1 {
  background: -webkit-linear-gradient(left, #95e8f9, #002794) !important;
}

.band2 {
  background: -webkit-linear-gradient(left, #a2fbc2, #ff6767) !important;
}

.band3 {
  background: -webkit-linear-gradient(left, #e6c6ff, #9d00ff) !important;
}

.band4 {
  background: -webkit-linear-gradient(left, #0909d4, #00a1ff 20%, #14bb12 40%, #dde007 60%, #d20f0f) !important;
}

.band5 {
  background: -webkit-linear-gradient(left, #baffe5, #1ab99c) !important;
}

.band5 {
  background: -webkit-linear-gradient(left, #baffe5, #1ab99c) !important;
}

.band6 {
  background: -webkit-linear-gradient(left, #93f602, #2fac01, #74cb01, #d0ef01, #e1ce01, #e16a01, #f70701) !important;
}

.label {
  display: inline;
  padding: 0.4em 4em 0.01em 6em;
  font-size: 110%;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25em;
  line-height: 1.1;
}

/*--------地形裁剪补充 end-----------*/
/*--------悬浮窗口 str-----------*/
.bubble, .bubble-tabel {
  width: 200px;
  max-height: 200px;
  box-sizing: border-box;
  padding: 2px 8px 8px 8px;
  display: inline-block;
  position: absolute;
  z-index: 99;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 2px 2px 6px rgba(26, 26, 26, 0.5);
  background-color: var(--panel-bg-color);
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
  /* firefox */
  -ms-overflow-style: none;
}
@media (max-width: 1000px) {
  .bubble, .bubble-tabel {
    width: calc(200px * 0.8);
  }
}
@media (max-width: 750px) {
  .bubble, .bubble-tabel {
    width: calc(200px* 0.75);
  }
}
@media (max-width: 500px) {
  .bubble, .bubble-tabel {
    width: calc(200px* 0.67);
  }
}
@media (max-height: 750px) {
  .bubble, .bubble-tabel {
    width: calc(200px* 0.9);
  }
}
@media (max-height: 500px) {
  .bubble, .bubble-tabel {
    width: calc(200px* 0.85);
  }
}
@media (max-height: 400px) {
  .bubble, .bubble-tabel {
    width: calc(200px* 0.8);
  }
}
@media (max-height: 750px) {
  .bubble, .bubble-tabel {
    max-height: calc(200px * 0.8);
  }
}
@media (max-height: 500px) {
  .bubble, .bubble-tabel {
    max-height: calc(200px * 0.7);
  }
}
@media (max-height: 400px) {
  .bubble, .bubble-tabel {
    max-height: calc(200px * 0.6);
  }
}
@media (max-height: 300px) {
  .bubble, .bubble-tabel {
    max-height: calc(200px * 0.5);
  }
}
.bubble i, .bubble-tabel i {
  font-size: 16px;
}
.bubble i:hover, .bubble-tabel i:hover {
  color: var(--theme-bg-color);
}

.bubbleDock {
  top: auto !important;
  left: auto !important;
  bottom: 20% !important;
  right: 10px !important;
}

.legend {
  position: fixed;
  right: 6px;
  bottom: 6px;
  z-index: 999;
}

.tooltip {
  max-width: 240px;
  box-sizing: border-box;
  display: inline-block;
  position: fixed;
  top: 30%;
  z-index: 999;
  border-radius: 4px;
  box-shadow: 2px 2px 6px rgba(26, 26, 26, 0.5);
  background-color: var(--panel-bg-color);
  border: none;
  overflow: hidden;
  font-size: var(--tip-font-size);
  padding: 4px 10px;
  right: -300px;
  transition-duration: 0.5s;
}
@media (max-width: 1000px) {
  .tooltip {
    font-size: calc( var(--tip-font-size) - 1px);
  }
}
@media (max-width: 750px) {
  .tooltip {
    font-size: calc( var(--tip-font-size) - 2px);
  }
}
@media (max-width: 500px) {
  .tooltip {
    font-size: calc( var(--tip-font-size) - 3px);
  }
}
@media (max-height: 480px) {
  .tooltip {
    font-size: calc( var(--tip-font-size) - 1px);
  }
}
@media (max-height: 300px) {
  .tooltip {
    font-size: calc( var(--tip-font-size) - 2px);
  }
}
.tooltip p {
  margin: 6px 0;
}

.bubble-tabel {
  width: auto;
  max-height: 200px;
  max-width: 350px;
}
@media (max-height: 750px) {
  .bubble-tabel {
    max-height: calc(200px * 0.8);
  }
}
@media (max-height: 500px) {
  .bubble-tabel {
    max-height: calc(200px * 0.7);
  }
}
@media (max-height: 400px) {
  .bubble-tabel {
    max-height: calc(200px * 0.6);
  }
}
@media (max-height: 300px) {
  .bubble-tabel {
    max-height: calc(200px * 0.5);
  }
}

.tab thead, .tab tr {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgb(211, 202, 221);
}

.tab {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(211, 202, 221);
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}

/* Padding and font style */
.tab td, .tab th {
  padding: 5px;
  font-size: 12px;
  font-family: Verdana;
  color: rgb(95, 74, 121);
  border: 1px solid rgb(193, 168, 223);
}

/* Alternating background colors */
.tab tr:nth-child(even) {
  background: rgb(223, 216, 232);
}

.tab tr:nth-child(odd) {
  background: #FFF;
}

.tab2 td, .tab2 th {
  width: 33%;
  padding: 4px;
  height: 15px;
  border-color: var(--border-color) !important;
}
.tab2 td .input, .tab2 th .input {
  background: var(--panel-bg-color) !important;
  width: 76%;
  height: 92%;
  border: none;
  position: absolute;
  overflow: hidden;
  position: absolute;
  right: 15px;
  top: 0;
  text-align: center;
}
.tab2 td .input2, .tab2 th .input2 {
  background: var(--panel-bg-color) !important;
  width: 90%;
  border: none;
  text-align: center;
}
.tab2 td select, .tab2 th select {
  border: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.tab2 tr {
  background: var(--panel-bg-color) !important;
}

html,
body,
#app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: var(--font-color);
  font-family: var(--font-family);
}

#SuperMap3DContainer {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

div {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.pointer-events {
  pointer-events: none;
}

.content-font-size, .tbtn, .boxchild, button, .sm-select, .sm-select-m, .sm-select-s, label, .label-M, .label-S, .sm-function-module-sub-section {
  font-size: 14px;
}
@media (max-width: 1000px) {
  .content-font-size, .tbtn, .boxchild, button, .sm-select, .sm-select-m, .sm-select-s, label, .label-M, .label-S, .sm-function-module-sub-section {
    font-size: calc( 14px - 1px);
  }
}
@media (max-width: 750px) {
  .content-font-size, .tbtn, .boxchild, button, .sm-select, .sm-select-m, .sm-select-s, label, .label-M, .label-S, .sm-function-module-sub-section {
    font-size: calc( 14px - 2px);
  }
}
@media (max-width: 500px) {
  .content-font-size, .tbtn, .boxchild, button, .sm-select, .sm-select-m, .sm-select-s, label, .label-M, .label-S, .sm-function-module-sub-section {
    font-size: calc( 14px - 3px);
  }
}
@media (max-height: 480px) {
  .content-font-size, .tbtn, .boxchild, button, .sm-select, .sm-select-m, .sm-select-s, label, .label-M, .label-S, .sm-function-module-sub-section {
    font-size: calc( 14px - 1px);
  }
}
@media (max-height: 300px) {
  .content-font-size, .tbtn, .boxchild, button, .sm-select, .sm-select-m, .sm-select-s, label, .label-M, .label-S, .sm-function-module-sub-section {
    font-size: calc( 14px - 2px);
  }
}

.title-font-size {
  font-size: var(--title-font-size);
}
@media (max-width: 1000px) {
  .title-font-size {
    font-size: calc( var(--title-font-size) - 1px);
  }
}
@media (max-width: 750px) {
  .title-font-size {
    font-size: calc( var(--title-font-size) - 2px);
  }
}
@media (max-width: 500px) {
  .title-font-size {
    font-size: calc( var(--title-font-size) - 3px);
  }
}
@media (max-height: 480px) {
  .title-font-size {
    font-size: calc( var(--title-font-size) - 1px);
  }
}
@media (max-height: 300px) {
  .title-font-size {
    font-size: calc( var(--title-font-size) - 2px);
  }
}

.tip-font-size {
  font-size: var(--tip-font-size);
}
@media (max-width: 1000px) {
  .tip-font-size {
    font-size: calc( var(--tip-font-size) - 1px);
  }
}
@media (max-width: 750px) {
  .tip-font-size {
    font-size: calc( var(--tip-font-size) - 2px);
  }
}
@media (max-width: 500px) {
  .tip-font-size {
    font-size: calc( var(--tip-font-size) - 3px);
  }
}
@media (max-height: 480px) {
  .tip-font-size {
    font-size: calc( var(--tip-font-size) - 1px);
  }
}
@media (max-height: 300px) {
  .tip-font-size {
    font-size: calc( var(--tip-font-size) - 2px);
  }
}

.sm-panel {
  width: var(--panel-width);
  max-height: var(--panel-max-height);
  box-sizing: border-box;
  padding: 15px;
  display: inline-block;
  position: absolute;
  top: 68px;
  right: 60px;
  z-index: 99;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 2px 2px 6px rgba(26, 26, 26, 0.5);
  background-color: var(--panel-bg-color);
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
  /* firefox */
  -ms-overflow-style: none;
}
@media (max-width: 1000px) {
  .sm-panel {
    width: calc(var(--panel-width) * 0.8);
  }
}
@media (max-width: 750px) {
  .sm-panel {
    width: calc(var(--panel-width)* 0.75);
  }
}
@media (max-width: 500px) {
  .sm-panel {
    width: calc(var(--panel-width)* 0.67);
  }
}
@media (max-height: 750px) {
  .sm-panel {
    width: calc(var(--panel-width)* 0.9);
  }
}
@media (max-height: 500px) {
  .sm-panel {
    width: calc(var(--panel-width)* 0.85);
  }
}
@media (max-height: 400px) {
  .sm-panel {
    width: calc(var(--panel-width)* 0.8);
  }
}
@media (max-height: 750px) {
  .sm-panel {
    max-height: calc(var(--panel-max-height) * 0.8);
  }
}
@media (max-height: 500px) {
  .sm-panel {
    max-height: calc(var(--panel-max-height) * 0.7);
  }
}
@media (max-height: 400px) {
  .sm-panel {
    max-height: calc(var(--panel-max-height) * 0.6);
  }
}
@media (max-height: 300px) {
  .sm-panel {
    max-height: calc(var(--panel-max-height) * 0.5);
  }
}
.sm-panel .iconfont {
  font-size: 24px;
}

.sm-panel::-webkit-scrollbar {
  display: none;
  /* Chrome Safari */
}

/*弹性盒属性*/
.flex, .compass-panel, .sm-slider-input-box, .sm-slider-input-box-M, .boxchild, .sm-half, .sm-half-S, .sm-half-M, .sm-half-L, .sm-function-module-sub-section {
  display: inline-flex;
  display: flex;
}

.flex-start {
  justify-content: flex-start !important;
}

.flex-end {
  justify-content: flex-end !important;
}

.flex-between, .sm-slider-input-box, .sm-slider-input-box-M {
  justify-content: space-between !important;
}

.flex-around, .symbolic {
  justify-content: space-around !important;
}

.sm-function-module-sub-section {
  width: 100%;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 0 10px 0;
}
@media (max-height: 750px) {
  .sm-function-module-sub-section {
    margin-top: calc(0 * 0.8);
    margin-right: calc(0 * 0.8);
    margin-bottom: calc(10px * 0.8);
    margin-left: calc(0 * 0.8);
  }
}
@media (max-height: 500px) {
  .sm-function-module-sub-section {
    margin-top: calc(0 * 0.6);
    margin-right: calc(0 * 0.6);
    margin-bottom: calc(10px * 0.6);
    margin-left: calc(0 * 0.6);
  }
}
@media (max-height: 400px) {
  .sm-function-module-sub-section {
    margin-top: calc(0 * 0.4);
    margin-right: calc(0 * 0.4);
    margin-bottom: calc(10px * 0.4);
    margin-left: calc(0 * 0.4);
  }
}
@media (max-height: 300px) {
  .sm-function-module-sub-section {
    margin-top: calc(0 * 0.2);
    margin-right: calc(0 * 0.2);
    margin-bottom: calc(10px * 0.2);
    margin-left: calc(0 * 0.2);
  }
}
@media (max-width: 1000px) {
  .sm-function-module-sub-section {
    margin-top: calc(0 * 0.8);
    margin-right: calc(0 * 0.8);
    margin-bottom: calc(10px * 0.8);
    margin-left: calc(0 * 0.8);
  }
}
@media (max-width: 750px) {
  .sm-function-module-sub-section {
    margin-top: calc(0 * 0.6);
    margin-right: calc(0 * 0.6);
    margin-bottom: calc(10px * 0.6);
    margin-left: calc(0 * 0.6);
  }
}
@media (max-width: 500px) {
  .sm-function-module-sub-section {
    margin-top: calc(0 * 0.4);
    margin-right: calc(0 * 0.4);
    margin-bottom: calc(10px * 0.4);
    margin-left: calc(0 * 0.4);
  }
}

.sm-function-module-btn-highlight {
  color: var(--theme-bg-color);
}

label, .label-M, .label-S {
  font-weight: 400;
  line-height: 1.8;
  width: 52%;
  max-width: 100%;
  overflow: hidden;
  height: 25px;
}
@media (max-height: 750px) {
  label, .label-M, .label-S {
    height: calc(25px * 0.9);
  }
}
@media (max-height: 500px) {
  label, .label-M, .label-S {
    height: calc(25px * 0.85);
  }
}
@media (max-height: 400px) {
  label, .label-M, .label-S {
    height: calc(25px * 0.8);
  }
}
@media (max-height: 300px) {
  label, .label-M, .label-S {
    height: calc(25px * 0.7);
  }
}
@media (max-width: 1000px) {
  label, .label-M, .label-S {
    height: calc(25px * 0.9);
  }
}
@media (max-width: 750px) {
  label, .label-M, .label-S {
    height: calc(25px * 0.85);
  }
}
@media (max-width: 500px) {
  label, .label-M, .label-S {
    height: calc(25px * 0.8);
  }
}

.label-S {
  width: 27%;
}

.label-M {
  width: 48%;
}

.sm-half, .sm-half-S, .sm-half-M, .sm-half-L {
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  vertical-align: middle;
  /* 用于功能面板一行放两个控件 */
  width: 48%;
  margin: 0;
  padding: 2px 0;
  border: none;
}
@media (max-width: 750px) {
  .sm-half, .sm-half-S, .sm-half-M, .sm-half-L {
    padding: 0;
  }
}
@media (max-height: 480px) {
  .sm-half, .sm-half-S, .sm-half-M, .sm-half-L {
    padding: 0;
  }
}

.sm-margin-M {
  margin: 8px 0 8px 0;
}
@media (max-height: 750px) {
  .sm-margin-M {
    margin-top: calc(8px * 0.8);
    margin-right: calc(0 * 0.8);
    margin-bottom: calc(8px * 0.8);
    margin-left: calc(0 * 0.8);
  }
}
@media (max-height: 500px) {
  .sm-margin-M {
    margin-top: calc(8px * 0.6);
    margin-right: calc(0 * 0.6);
    margin-bottom: calc(8px * 0.6);
    margin-left: calc(0 * 0.6);
  }
}
@media (max-height: 400px) {
  .sm-margin-M {
    margin-top: calc(8px * 0.4);
    margin-right: calc(0 * 0.4);
    margin-bottom: calc(8px * 0.4);
    margin-left: calc(0 * 0.4);
  }
}
@media (max-height: 300px) {
  .sm-margin-M {
    margin-top: calc(8px * 0.2);
    margin-right: calc(0 * 0.2);
    margin-bottom: calc(8px * 0.2);
    margin-left: calc(0 * 0.2);
  }
}
@media (max-width: 1000px) {
  .sm-margin-M {
    margin-top: calc(8px * 0.8);
    margin-right: calc(0 * 0.8);
    margin-bottom: calc(8px * 0.8);
    margin-left: calc(0 * 0.8);
  }
}
@media (max-width: 750px) {
  .sm-margin-M {
    margin-top: calc(8px * 0.6);
    margin-right: calc(0 * 0.6);
    margin-bottom: calc(8px * 0.6);
    margin-left: calc(0 * 0.6);
  }
}
@media (max-width: 500px) {
  .sm-margin-M {
    margin-top: calc(8px * 0.4);
    margin-right: calc(0 * 0.4);
    margin-bottom: calc(8px * 0.4);
    margin-left: calc(0 * 0.4);
  }
}

.sm-half-L {
  width: 100%;
}

.sm-half-M {
  width: 65%;
}

.sm-half-S {
  width: 48%;
}

.sm-input, .sm-input-S, .sm-input-L, .sm-input-M {
  height: 24px;
  color: var(--font-color);
  background-color: var(--panel-bg-color);
  border: 1px solid var(--border-color);
  border-radius: 4px;
  padding: 0px 3px;
  box-sizing: border-box;
}
@media (max-height: 750px) {
  .sm-input, .sm-input-S, .sm-input-L, .sm-input-M {
    height: calc(24px * 0.9);
  }
}
@media (max-height: 500px) {
  .sm-input, .sm-input-S, .sm-input-L, .sm-input-M {
    height: calc(24px * 0.85);
  }
}
@media (max-height: 400px) {
  .sm-input, .sm-input-S, .sm-input-L, .sm-input-M {
    height: calc(24px * 0.8);
  }
}
@media (max-height: 300px) {
  .sm-input, .sm-input-S, .sm-input-L, .sm-input-M {
    height: calc(24px * 0.7);
  }
}
@media (max-width: 1000px) {
  .sm-input, .sm-input-S, .sm-input-L, .sm-input-M {
    height: calc(24px * 0.9);
  }
}
@media (max-width: 750px) {
  .sm-input, .sm-input-S, .sm-input-L, .sm-input-M {
    height: calc(24px * 0.85);
  }
}
@media (max-width: 500px) {
  .sm-input, .sm-input-S, .sm-input-L, .sm-input-M {
    height: calc(24px * 0.8);
  }
}

.sm-input-M {
  width: 48%;
}

.sm-input-L {
  width: 75%;
}

.sm-input-S {
  width: 34%;
}

.sm-point {
  width: 5px;
  height: 5px;
  display: inline-block;
  background-color: var(--theme-bg-color);
  border-radius: 50%;
  margin-bottom: 2px;
  margin-right: 8px;
}

.sm-select, .sm-select-m, .sm-select-s {
  width: 48%;
  color: var(--font-color);
  background-color: var(--panel-bg-color);
  border: 1px solid var(--border-color);
  padding: 0;
  border-radius: 4px;
  height: 25px;
  box-sizing: border-box;
}
@media (max-height: 750px) {
  .sm-select, .sm-select-m, .sm-select-s {
    height: calc(25px * 0.9);
  }
}
@media (max-height: 500px) {
  .sm-select, .sm-select-m, .sm-select-s {
    height: calc(25px * 0.85);
  }
}
@media (max-height: 400px) {
  .sm-select, .sm-select-m, .sm-select-s {
    height: calc(25px * 0.8);
  }
}
@media (max-height: 300px) {
  .sm-select, .sm-select-m, .sm-select-s {
    height: calc(25px * 0.7);
  }
}
@media (max-width: 1000px) {
  .sm-select, .sm-select-m, .sm-select-s {
    height: calc(25px * 0.9);
  }
}
@media (max-width: 750px) {
  .sm-select, .sm-select-m, .sm-select-s {
    height: calc(25px * 0.85);
  }
}
@media (max-width: 500px) {
  .sm-select, .sm-select-m, .sm-select-s {
    height: calc(25px * 0.8);
  }
}

.sm-select-s {
  width: 65%;
}

.sm-select-m {
  width: 72%;
}

.sm-select:after, .sm-select-s:after, .sm-select-m:after {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top: 6px solid var(--theme-bg-color);
  position: relative;
  top: 20%;
  left: 90%;
}
@media (max-width: 750px) {
  .sm-select:after, .sm-select-s:after, .sm-select-m:after {
    display: none;
  }
}
@media (max-height: 480px) {
  .sm-select:after, .sm-select-s:after, .sm-select-m:after {
    display: none;
  }
}

input:focus {
  outline: none;
  border: 1px solid var(--theme-bg-color);
}

select:focus {
  outline: none;
}

button:focus {
  color: var(--theme-bg-color);
  outline: none;
  border-color: var(--theme-bg-color);
}

input[type=checkbox] {
  -webkit-appearance: none;
  width: 14px;
  height: 14px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: 12px;
  border-radius: 4px;
  /*color: #3C8DBC;*/
  border: 1px solid var(--border-color);
  margin: 0;
  margin-right: 6px;
}

input[type=checkbox]:checked::before {
  content: "✓";
  border-color: var(--theme-bg-color);
  color: var(--theme-bg-color);
}

input[type=checkbox]:checked {
  border-color: var(--theme-bg-color);
}

input[type=radio] {
  margin-left: 0;
  margin-right: 6px;
}

input[type=radio]:checked {
  border-color: var(--theme-bg-color);
  color: var(--theme-bg-color);
}

.boxchild {
  justify-content: flex-end;
  padding: 5px 0 0 0;
  width: 100%;
  align-items: center;
}
@media (max-height: 750px) {
  .boxchild {
    padding-top: calc(5px * 0.8);
    padding-right: calc(0 * 0.8);
    padding-bottom: calc(0 * 0.8);
    padding-left: calc(0 * 0.8);
  }
}
@media (max-height: 500px) {
  .boxchild {
    padding-top: calc(5px * 0.6);
    padding-right: calc(0 * 0.6);
    padding-bottom: calc(0 * 0.6);
    padding-left: calc(0 * 0.6);
  }
}
@media (max-height: 400px) {
  .boxchild {
    padding-top: calc(5px * 0.4);
    padding-right: calc(0 * 0.4);
    padding-bottom: calc(0 * 0.4);
    padding-left: calc(0 * 0.4);
  }
}
@media (max-height: 300px) {
  .boxchild {
    padding-top: calc(5px * 0.2);
    padding-right: calc(0 * 0.2);
    padding-bottom: calc(0 * 0.2);
    padding-left: calc(0 * 0.2);
  }
}
@media (max-width: 1000px) {
  .boxchild {
    padding-top: calc(5px * 0.8);
    padding-right: calc(0 * 0.8);
    padding-bottom: calc(0 * 0.8);
    padding-left: calc(0 * 0.8);
  }
}
@media (max-width: 750px) {
  .boxchild {
    padding-top: calc(5px * 0.6);
    padding-right: calc(0 * 0.6);
    padding-bottom: calc(0 * 0.6);
    padding-left: calc(0 * 0.6);
  }
}
@media (max-width: 500px) {
  .boxchild {
    padding-top: calc(5px * 0.4);
    padding-right: calc(0 * 0.4);
    padding-bottom: calc(0 * 0.4);
    padding-left: calc(0 * 0.4);
  }
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]::-moz-range-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  background-color: red;
}

.sm-slider-input-box, .sm-slider-input-box-M {
  height: 26px;
  width: 72%;
  align-items: center;
}
@media (max-height: 750px) {
  .sm-slider-input-box, .sm-slider-input-box-M {
    height: calc(26px * 0.9);
  }
}
@media (max-height: 500px) {
  .sm-slider-input-box, .sm-slider-input-box-M {
    height: calc(26px * 0.85);
  }
}
@media (max-height: 400px) {
  .sm-slider-input-box, .sm-slider-input-box-M {
    height: calc(26px * 0.8);
  }
}
@media (max-height: 300px) {
  .sm-slider-input-box, .sm-slider-input-box-M {
    height: calc(26px * 0.7);
  }
}
@media (max-width: 1000px) {
  .sm-slider-input-box, .sm-slider-input-box-M {
    height: calc(26px * 0.9);
  }
}
@media (max-width: 750px) {
  .sm-slider-input-box, .sm-slider-input-box-M {
    height: calc(26px * 0.85);
  }
}
@media (max-width: 500px) {
  .sm-slider-input-box, .sm-slider-input-box-M {
    height: calc(26px * 0.8);
  }
}

.sm-slider-input-box-M {
  width: 80%;
  height: 30px;
  margin-top: 8px;
  align-items: flex-start;
}

.min-slider {
  background: var(--panel-bg-color);
  border: 1px solid var(--border-color);
  color: var(--font-color);
  opacity: 0.6;
  vertical-align: middle;
  height: 100%;
}

.slider-M {
  width: 62%;
}

.slider-S {
  width: 34%;
}

.tbtn {
  font-weight: 400;
  background-color: var(--panel-bg-color);
  border-radius: 4px;
  color: var(--font-color);
  border: 1px solid var(--border-color);
  overflow: hidden;
  height: 26px;
  line-height: 24px;
  width: 56px;
  min-width: 40px;
}
@media (max-height: 750px) {
  .tbtn {
    height: calc(26px * 0.9);
  }
}
@media (max-height: 500px) {
  .tbtn {
    height: calc(26px * 0.85);
  }
}
@media (max-height: 400px) {
  .tbtn {
    height: calc(26px * 0.8);
  }
}
@media (max-height: 300px) {
  .tbtn {
    height: calc(26px * 0.7);
  }
}
@media (max-width: 1000px) {
  .tbtn {
    height: calc(26px * 0.9);
  }
}
@media (max-width: 750px) {
  .tbtn {
    height: calc(26px * 0.85);
  }
}
@media (max-width: 500px) {
  .tbtn {
    height: calc(26px * 0.8);
  }
}
@media (max-height: 750px) {
  .tbtn {
    line-height: calc(24px * 0.8);
  }
}
@media (max-height: 500px) {
  .tbtn {
    line-height: calc(24px * 0.7);
  }
}
@media (max-height: 400px) {
  .tbtn {
    line-height: calc(24px * 0.6);
  }
}
@media (max-height: 300px) {
  .tbtn {
    line-height: calc(24px * 0.5);
  }
}
@media (max-width: 1000px) {
  .tbtn {
    line-height: calc(24px * 0.9);
  }
}
@media (max-width: 750px) {
  .tbtn {
    line-height: calc(24px * 0.9);
  }
}
@media (max-width: 500px) {
  .tbtn {
    line-height: calc(24px * 0.7);
  }
}
@media (max-width: 1000px) {
  .tbtn {
    width: calc(56px * 0.8);
  }
}
@media (max-width: 750px) {
  .tbtn {
    width: calc(56px* 0.75);
  }
}
@media (max-width: 500px) {
  .tbtn {
    width: calc(56px* 0.67);
  }
}
@media (max-height: 750px) {
  .tbtn {
    width: calc(56px* 0.9);
  }
}
@media (max-height: 500px) {
  .tbtn {
    width: calc(56px* 0.85);
  }
}
@media (max-height: 400px) {
  .tbtn {
    width: calc(56px* 0.8);
  }
}

.tbtn-margin-left {
  margin: 0 0 0 10px;
}
@media (max-height: 750px) {
  .tbtn-margin-left {
    margin-top: calc(0 * 0.8);
    margin-right: calc(0 * 0.8);
    margin-bottom: calc(0 * 0.8);
    margin-left: calc(10px * 0.8);
  }
}
@media (max-height: 500px) {
  .tbtn-margin-left {
    margin-top: calc(0 * 0.6);
    margin-right: calc(0 * 0.6);
    margin-bottom: calc(0 * 0.6);
    margin-left: calc(10px * 0.6);
  }
}
@media (max-height: 400px) {
  .tbtn-margin-left {
    margin-top: calc(0 * 0.4);
    margin-right: calc(0 * 0.4);
    margin-bottom: calc(0 * 0.4);
    margin-left: calc(10px * 0.4);
  }
}
@media (max-height: 300px) {
  .tbtn-margin-left {
    margin-top: calc(0 * 0.2);
    margin-right: calc(0 * 0.2);
    margin-bottom: calc(0 * 0.2);
    margin-left: calc(10px * 0.2);
  }
}
@media (max-width: 1000px) {
  .tbtn-margin-left {
    margin-top: calc(0 * 0.8);
    margin-right: calc(0 * 0.8);
    margin-bottom: calc(0 * 0.8);
    margin-left: calc(10px * 0.8);
  }
}
@media (max-width: 750px) {
  .tbtn-margin-left {
    margin-top: calc(0 * 0.6);
    margin-right: calc(0 * 0.6);
    margin-bottom: calc(0 * 0.6);
    margin-left: calc(10px * 0.6);
  }
}
@media (max-width: 500px) {
  .tbtn-margin-left {
    margin-top: calc(0 * 0.4);
    margin-right: calc(0 * 0.4);
    margin-bottom: calc(0 * 0.4);
    margin-left: calc(10px * 0.4);
  }
}

@media (max-width: 750px) {
  .media-hidden {
    display: none;
  }
}
@media (max-height: 480px) {
  .media-hidden {
    display: none;
  }
}

.sm-btn {
  padding: 0px;
  border-radius: 4px;
  box-sizing: border-box;
  background: transparent;
  border: 1px solid var(--border-color);
  border: none;
  margin-top: 6px;
}
.sm-btn:hover {
  color: var(--theme-bg-color);
}

.compass-panel {
  position: absolute;
  top: 6%;
  right: 10px;
  flex-wrap: wrap;
  z-index: 999;
  box-sizing: border-box;
  justify-content: center;
  flex-direction: column;
}
.compass-panel .btn_box {
  padding: 4px 4px 4px 4px;
  box-sizing: border-box;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  margin: 8px 0;
  background-color: #fff;
  border-radius: 4px;
}
@media (max-height: 750px) {
  .compass-panel .btn_box {
    padding-top: calc(4px * 0.8);
    padding-right: calc(4px * 0.8);
    padding-bottom: calc(4px * 0.8);
    padding-left: calc(4px * 0.8);
  }
}
@media (max-height: 500px) {
  .compass-panel .btn_box {
    padding-top: calc(4px * 0.6);
    padding-right: calc(4px * 0.6);
    padding-bottom: calc(4px * 0.6);
    padding-left: calc(4px * 0.6);
  }
}
@media (max-height: 400px) {
  .compass-panel .btn_box {
    padding-top: calc(4px * 0.4);
    padding-right: calc(4px * 0.4);
    padding-bottom: calc(4px * 0.4);
    padding-left: calc(4px * 0.4);
  }
}
@media (max-height: 300px) {
  .compass-panel .btn_box {
    padding-top: calc(4px * 0.2);
    padding-right: calc(4px * 0.2);
    padding-bottom: calc(4px * 0.2);
    padding-left: calc(4px * 0.2);
  }
}
@media (max-width: 1000px) {
  .compass-panel .btn_box {
    padding-top: calc(4px * 0.8);
    padding-right: calc(4px * 0.8);
    padding-bottom: calc(4px * 0.8);
    padding-left: calc(4px * 0.8);
  }
}
@media (max-width: 750px) {
  .compass-panel .btn_box {
    padding-top: calc(4px * 0.6);
    padding-right: calc(4px * 0.6);
    padding-bottom: calc(4px * 0.6);
    padding-left: calc(4px * 0.6);
  }
}
@media (max-width: 500px) {
  .compass-panel .btn_box {
    padding-top: calc(4px * 0.4);
    padding-right: calc(4px * 0.4);
    padding-bottom: calc(4px * 0.4);
    padding-left: calc(4px * 0.4);
  }
}
.compass-panel .btn_box:hover {
  color: var(--theme-bg-color);
}

.symbolic {
  border: 1px solid var(--border-color);
  margin: 6px 0;
  border-radius: 4px;
  max-height: 200px;
  overflow-x: hidden;
  scrollbar-width: none;
  /* firefox */
  -ms-overflow-style: none;
}

.symbolic::-webkit-scrollbar {
  display: none;
}

.symbolic-box {
  box-sizing: border-box;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  border-radius: 4px;
  width: 45px;
}
.symbolic-box:hover {
  color: var(--theme-bg-color);
}
.symbolic-box label, .symbolic-box .label-S, .symbolic-box .label-M {
  font-size: 12px;
  display: block;
  height: auto;
}
.symbolic-box img {
  width: 100%;
  height: 100%;
}

.theme-color {
  color: var(--theme-bg-color);
}

.theme-border-color {
  border: 1px solid var(--theme-bg-color);
}
.theme-border-color:hover {
  border: 1px solid var(--theme-bg-color);
}

ul > li {
  list-style: none;
}

.ul_list {
  margin: 2px 0 0 2px;
  padding: 2px;
  text-align: left;
  padding-left: 5px;
  position: absolute;
  z-index: 100000;
  border: 1px solid var(--border-color);
  max-width: 40%;
  min-width: 50px;
  border-radius: 4px;
}

/*
* scss基础配置文件
*/
:root {
  --theme-bg-color: #3499e5;
  --panel-bg-color: rgb(249, 249, 249);
  --font-color: #333333;
  --font-family: "Microsoft YaHei", "Arial", "黑体", "宋体", sans-serif;
  --border-color: #999999;
  --content-font-size:14px;
  --title-font-size:16px;
  --tip-font-size:12px;
  --panel-width:320px;
  --panel-max-height:520px;
  --shadow-color:rgba(128, 128, 128, 0.5);
}

#terrain-operation-panel {
  width: 200px;
}

#terrain-slope-panel {
  width: 240px;
}

#terrain-flood-panel {
  width: 240px;
}

#terrain-isoline-panel {
  width: 240px;
}

#clip-box-panel {
  width: 200px;
}

#clip-plane-panel {
  width: 240px;
}

#clip-polygon-panel {
  width: 200px;
}

#measure-panel {
  width: 168px;
}
#measure-panel .iconfont {
  font-size: 24px;
}

#compass-panel .iconfont {
  font-size: 24px;
}

#split-screen-panel {
  width: 230px;
}

#skyLine-panel {
  width: 256px;
}

#echarts_box {
  position: absolute !important;
  left: 9%;
  width: 80%;
  height: 20%;
  bottom: 10px;
  padding: 5px 10px 10px 5px;
  border-radius: 4px;
  border: 1px solid var(--border-color);
  color: var(--panel-bg-color);
  background: rgba(249, 249, 249, 0.8);
  box-shadow: 0 3px 14px var(--shadow-color);
  z-index: 999;
}

.tbtn-width {
  width: 53px;
}
@media (max-width: 1000px) {
  .tbtn-width {
    width: calc(53px * 0.8);
  }
}
@media (max-width: 750px) {
  .tbtn-width {
    width: calc(53px* 0.75);
  }
}
@media (max-width: 500px) {
  .tbtn-width {
    width: calc(53px* 0.67);
  }
}
@media (max-height: 750px) {
  .tbtn-width {
    width: calc(53px* 0.9);
  }
}
@media (max-height: 500px) {
  .tbtn-width {
    width: calc(53px* 0.85);
  }
}
@media (max-height: 400px) {
  .tbtn-width {
    width: calc(53px* 0.8);
  }
}

#viewshed {
  width: 280px;
}

#profile {
  width: 150px;
}

#sight-line {
  width: 256px;
}

#pbr-panel {
  width: 223px;
}

#openness-panel {
  width: 256px;
}

#CustomService-panel {
  width: 30%;
  left: 35%;
  top: 25%;
}

#verticalSlider, #verticalSliderRight, #verticalSliderLeft {
  position: absolute;
  left: 50%;
  top: 0;
  background-color: #D3D3D3;
  width: 3px;
  height: 100%;
  z-index: 100;
  display: none;
  cursor: ew-resize;
}

#horizontalSlider, #horizontalSliderBottom, #horizontalSliderTop {
  position: absolute;
  left: 0;
  top: 50%;
  background-color: #D3D3D3;
  width: 100%;
  height: 3px;
  z-index: 100;
  display: none;
  cursor: ns-resize;
}

#verticalSliderLeft {
  left: 33%;
}

#verticalSliderRight {
  left: 66%;
}

#horizontalSliderTop {
  top: 33%;
}

#horizontalSliderBottom {
  top: 66%;
}

#layer-manage-panel {
  width: 240px;
}

#contextmenu {
  max-width: 80px;
  position: absolute;
  z-index: 999;
  background-color: var(--panel-bg-color);
  border: 1px solid var(--border-color);
  border-radius: 4px;
  padding: 6px;
  display: none;
  font-size: 12px;
}
#contextmenu span {
  display: inline-block;
  width: 100%;
}
#contextmenu span:hover {
  background-color: rgb(216, 213, 213);
}

#s3mlayer-attribute-panel {
  width: 280px;
}

#facade-panel {
  width: 232px;
}

#fly-route-panel {
  width: 265px;
}
#fly-route-panel .fpfFile {
  position: absolute;
  right: 20px;
  border-left: 1px solid var(--border-color);
  padding-left: 4px;
  font-size: 18px;
}
#fly-route-panel .fpfFile:hover {
  color: var(--theme-bg-color);
}

#draw-panel {
  width: 252px;
}

#scan-effect-panel {
  width: 260px;
}

#geological-body-panel {
  width: 218px;
}

#volume-panel {
  width: 252px;
}

#mvtlayer-panel {
  width: 280px;
}

#mvtlayer-drop-left-panel {
  width: 130px;
  top: 320px;
  right: 210px;
  max-height: 300px;
}
#mvtlayer-drop-left-panel .sm-half:hover, #mvtlayer-drop-left-panel .sm-half-L:hover, #mvtlayer-drop-left-panel .sm-half-M:hover, #mvtlayer-drop-left-panel .sm-half-S:hover {
  background-color: rgb(223, 221, 221);
}

#mvtlayer-drop-right-panel {
  width: 130px;
  right: 60px;
  top: 320px;
  max-height: 300px;
}
#mvtlayer-drop-right-panel .sm-half:hover, #mvtlayer-drop-right-panel .sm-half-L:hover, #mvtlayer-drop-right-panel .sm-half-M:hover, #mvtlayer-drop-right-panel .sm-half-S:hover {
  background-color: rgb(223, 221, 221);
}/*# sourceMappingURL=globle.css.map */